* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 25px; */
}

body {
    line-height: 1.4;
    font-weight: 300;
    animation: body1 5s ease-in-out infinite forwards;

}

@keyframes body1 {
    from {
        background-color: rgb(166, 226, 223);
    }

    to {
        background-color: rgb(112, 160, 223);
    }

}



/* navigation */
#page {

    margin: 5%;
    background-color: white;
}

nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    background-color: #FFFFD2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list ul li {
    list-style: none;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}




.list ul li a {
    text-decoration: none;
    color: Red;
}

.hero_img img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 50%;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-around;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.hero_content h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 300px;
    margin-left: 8%;

}

nav div h1 {
    animation: h1 1s ease-in-out 1s infinite forwards;
}

@keyframes h1 {
    from {
        color: rgb(33, 204, 18);
    }

    to {
        color: rgb(223, 152, 21);
    }

}

.logo {
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.body_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 40px;
}
table{
    border: 5px solid black;
}
th{
    border: 2px solid rgb(109, 11, 173);
    padding: 10px;

}

.index{
    color: red;
}


.objective {
    font-size: 20px;
    margin-left: 5%;
    width: 76%;
    
}
.objective p{
    font-size: 25px;
}

.qualification {
    font-size: 20px;

}

.Experience {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 15%;
}
.projects {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 15%;
}
.projects li{
    font-size: 25px;
}
.certificate {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 15%;
}
.certificate li{
    font-size: 25px;
}

.about {
    font-size: 20px;
    
    margin-left: 15%;
    align-self: flex-start;
}
.about p{
    font-size: 25px;
}

.footer{
    font-size: 25px;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

@media (max-width:900px){
    table {
        border: 5px solid black;
        width: 90%;
        margin-left: 5%;
    }
    
    th {
        border: 2px solid rgb(109, 11, 173);
        font-size: 15px;
    }
    .hero_img img{
        border: 3px solid red;
        margin-left: 0px;
    }
    .qualification {
        margin-left: 40px;
    
    }
}